/* responsive format mobile */
@media screen and (max-width:600px) {
    body{
        font-size: 1em;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #F2EFDF;
    }
    .container{
        /* grid-template-areas: ; */
        position: sticky;
        top: 0;
        /* overflow: hidden; */
    }
    header{
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        width: 100vw;
        position: sticky;
        top: 0;
    }
    header img{
        width: 30%;
    }
    header nav{
        display: none;
    }
    header button{
        display: none;
    }
    header .menu-nav{
        padding: 5%;
    }
    header .menu-nav label i{
        cursor: pointer;
    }
    header input[type="checkbox"]{
        display: none;
    }

    main .contact{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    main .contact .text{
        padding: 5%;
    }
    main .contact .text h2{
        font-size: 1.5em;
        color: #9B5D3B;
        font-weight: bold;
    }
    main .contact .text p{
        font-size: 1rem;
        color: gray;
        font-weight: 400;
    }
    main .contact form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        padding: 5%;
        border-radius: 10px;
    }
    main .contact form input{
        border: 1px solid rgb(83, 81, 81);
        padding: 5%;
        background-color: #fff;
        border-radius: 10px;
    }
    main .contact form textarea{
        border-radius: 10px;
        height: 15vh;
    }
    main .contact form button{
        padding: 4%;
        margin: 5%;
        color: #fff;
        background-color: #D96B0B;
        border: none;
        border-radius: 10%;
        font-weight: bold;
    }
    main .contact form .np{
        display: flex;
        flex-direction: column;
        /* margin: 15%; */
        /* justify-content: center; */
    }
    main .contact form .np .grou-form input{
        padding: 5% 25%;
    }
    /* main .contact form .np .grou-form #nom{
        padding: 5% 29%;
        /* width: 15%; 
    } */

    main .info-contact{
        margin: 2%;
        background-color: #fff;
    }
    main .info-contact .bloc-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
        padding: 5%;
    }
main .info-contact .bloc-info .telephone,.email,.adresse{
    border: none;
    background-color: #F2EFDF;
    text-align: center;
    border-radius: 10px;
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
    padding: 10%;
    margin: 5%;
}
main .info-contact .bloc-info .telephone,.email,.adresse h3{
    color: #9B5D3B;
}
main .info-contact .bloc-info  span{
    border-radius: 50%;
    padding: 5%;
    background-color: #D96B0B;
    color: #fff;
}
footer{
    background-color: rgb(8, 8, 36);
    color: #fff;
}
footer .table{
    padding: 15%;
}
footer .table .table-col pre{
    margin-left: -50%;
}
footer p{
    text-align: center;
}
}

/* responsive format destope */

@media screen and (min-width: 1025px){
    body{
        font-size: 1em;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #F2EFDF;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    header{
        grid-area: header;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        width: 100%;
        position: sticky;
        top: 0;
    }
    header img{
        width: 20%;
    }
    header nav {
        width: 50%;
    }
    header nav ul{
        display: flex;
        list-style: none;
        gap: 5%;
    }
    header nav ul li a {
        text-decoration: none;
        color: black;
    }
    header nav ul li a:hover{
        background-color: #D96B0B;
        border-radius: 2%;
        padding: 10px;
    }
    header .button-header{
        width: 30%;
        padding: 10px;
        /* display: flex; */
    }
    header .button-header button{
       border: none;
       border-radius: 10px;
       padding: 2% 10%; 
    }
    header .button-header button:nth-of-type(2){
        background-color: #D96B0B;
        color: #fff;

    }
    header .menu-nav{
        display: none;
    }

    main{
        grid-area: main;
    }
    main .contact{
        display: flex;
        flex-direction: column;
        /* padding: 5%; */
    }
    main .contact .text{
        /* padding: 5%; */
        text-align: center;
    }
    main .contact .text h2{
        font-size: 2em;
        color: #9B5D3B;
        font-weight: bold;
    }
    main .contact .text p{
        font-size: 1rem;
        color: gray;
        font-weight: 400;
    }
    footer{
        grid-area: footer;
    }
      main .contact form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        padding: 5%;
        border-radius: 10px;
        width: 40%;
        margin: 0 auto;
    }
    main .contact form .np{
        display: flex;
        gap: 18%;
        /* justify-content: center; */
    }
    main .contact form .np .grou-form input{
        padding: 5% 35%;
    }
    main .contact form .np .grou-form #nom{
        padding: 5% 29%;
        /* width: 15%; */
    }
    main .contact form input{
        border: 1px solid rgb(83, 81, 81);
        padding: 2%;
        background-color: #fff;
        border-radius: 5px;
    }
    main .contact form textarea{
        border-radius: 10px;
        height: 15vh;
    }
    main .contact form button{
        padding: 4%;
        margin: 5%;
        color: #fff;
        background-color: #D96B0B;
        border: none;
        border-radius: 10%;
        font-weight: bold;
    }

    main .info-contact{
        margin: 2%;
        background-color: #fff;
    }
    main .info-contact .bloc-info{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* margin: 5%; */
        /* padding: 5%; */
    }
main .info-contact .bloc-info .telephone,.email,.adresse{
    border: none;
    background-color: #F2EFDF;
    text-align: center;
    border-radius: 10px;
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
    padding: 2%;
    margin: 5%;
    width: 20%;
}
main .info-contact .bloc-info .telephone,.email,.adresse h3{
    color: #9B5D3B;
}
main .info-contact .bloc-info  span{
    border-radius: 50%;
    width: 5%;
    padding: 5%;
    background-color: #D96B0B;
    color: #fff;
}
footer{
    grid-area: footer;
    width: 100%;
    background-color: rgb(8, 8, 36);
    color: #fff;
}
/* footer .table{
    padding: 15%;
} */
footer .table .table-col {
     display: grid;
     grid-template-columns: repeat(4,1fr);
}
footer p{
    text-align: center;
}
}