@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #FFF3E0;
    
}
header{
    display: flex;
    justify-content:space-between ;
    padding: 10px;
    background-color: #FFFFFF;
    position: sticky;
    width: 100%;
}
header .logo-header img{
    width: 20%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 30px;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(73, 71, 71);
    font-size: 15px;
    font-weight: bold;
}
header nav ul li a:hover{
    text-decoration-line: underline;
    text-decoration-color:#E65100;
    color: #E65100;
    font-weight: bold;
    font-size: 18px;
}
header .button-header{
    display: flex;
    padding-top: 19px;
    gap: 5px;
}
header .button-header button{
    border-radius: 10px;
    background-color: #FFFFFF;
    color: black;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 6%;
    transition: 0.5s;
    margin-right: 65px;
}
header .button-header .Inscription{
    background-color: #E65100;
    color: #fff;
}
header .button-header .Inscription:hover{
    background-color: #fff;
    color: #E65100;
    transform: rotate(5deg);
}
header .button-header .Connexion:hover{
    background-color: #E65100;
    transform: rotate(5deg);
    color: #fff;
}
/* section1 */
.banner{
    height: 45vh;
    background:url(images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #9b4a24;
}
.banner .text-banner{
    text-align: center;
    color: #FFFFFF;
}
.banner .text-banner h1{
    padding-top: 8%;
    font-size: 2.8rem;
    margin-right: 20%;
}
.banner .text-banner p{
    font-size: medium;
}
/* section2 */
.menu{
    display: grid;
    grid-template-areas: "trie trie trie trie"
                         "salad salad salad salad"
                         "salad1 salad1 salad1 salad1";
                         padding: 10px;
}
.trie{
    grid-area:trie;
    /* border: 1px solid; */
    /* background-color: #FFFFFF; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.salad{
    grid-area:salad;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
    display: flex;
    width: 50%;
    gap: 20px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;

}
.salad1{
    grid-area:salad1;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
    display: flex;
    width: 50%;
    gap: 20px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative;
}
.menu .trie h2{
    padding: 10px;
}
.menu .trie .special,.traiteur{
    padding: 10px;
    color: gray;
}
.menu .trie .special select{
    padding: 10px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid white;
}
.menu .trie .traiteur select{
    padding: 10px;
    font-weight: bold;
    border: 1px solid white;
    background-color: #fff;
}
.menu .meun-trie-button{
    padding: 30px;
}
.menu .meun-trie-button button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
}
.menu .meun-trie-button button:first-child{
    background-color: #E65100;
    transition: 0,5s;
    color: #FFFFFF;

}
.menu .meun-trie-button button:first-child:hover{
    background-color: #FFFFFF;
    transform: rotate(5deg);
    color: #9b4a24;
}
.menu .meun-trie-button button:nth-of-type(2):hover{
    background-color: #9b4a24;
    transform: rotate(5deg);
    color:#FFFFFF ;
}
.menu .salad ul{
    list-style: none;
    display: inline-flex;
    gap: 15px;
}
.menu .salad ul li{
    background-color: grey;
    border-radius: 10px;
    opacity: 0.6;
    padding: 5px;
}
.menu .salad1 ul{
    list-style: none;
    display: inline-flex;
    gap: 15px;
}
.menu .salad1 ul li{
    background-color: grey;
    border-radius: 10px;
    opacity: 0.6;
    padding: 5px;
}
.menu .point{
    font-size: 3.5rem;
    font-weight: bold;
}
.menu .salad button{
    padding: 10px;
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: 25px;
    right: 3%;
    border-radius: 10px;
}
.menu .salad .icon{
    position: absolute;
    top: 5%;
    right: 10%;
    color: rgb(0, 0, 0);
}
.menu .salad .icon i{
    color: goldenrod;
}

.menu .salad1 button{
    padding: 10px;
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: 25px;
    right: 3%;
    border-radius: 10px;
}
.menu .salad1 .icon{
    position: absolute;
    top: 5%;
    right: 10%;
    color: rgb(0, 0, 0);
}
.menu .salad1 .icon i{
    color: goldenrod;
}
/* section2 */
.rejoin{
    background:url(images/banner-head-accueil.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #9b4a24;
    height: 35vh;
    text-align: center;
    margin-bottom: 15px;
}
.rejoin .text-rejoin{
    padding-top: 5%;
}
.rejoin .text-rejoin h2{
    font-size: 2.8rem;
    color: #fff;
}
.rejoin .text-rejoin p{
    color: #eb8d35;
}
.rejoin .text-rejoin button{
    padding: 10px 2%;
    color: #eb8d35;
    font-weight: bold;
    margin-top: 10px;
}
.rejoin .text-rejoin button:hover{
    background-color: #eb8d35;
    color: #FFFFFF;
    transform: scale(1.1);
    font-weight: bold;
    border-radius: 10px;
}
/* footer */
footer{
    background-color: rgb(8, 8, 36);
    color: whitesmoke;
}
footer .table{
    margin: 0 auto;
    padding: 20px;
}
footer .table .table-col{
    display: flex;
    justify-content: space-between;
}
footer .table .table-col pre span{
    font-weight: bold;
}
footer hr{
    width: 95%;
    margin: 0 auto;
}
footer .table  p{
    text-align: center;
}
